body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("assets/bg-2.7b512602.png");
  animation: changeBackground 5s infinite;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}
@keyframes changeBackground {
  0% {
    background-image: url("assets/bg-2.7b512602.png");
  }
  50% {
    background-image: url("assets/bg-3.017bd6f4.png");
  }
  100% {
    background-image: url("assets/bg-2.7b512602.png");
  }
}
